# PHPStorm directory.
.idea

# MacOS Desktop Services Store files.
.DS_Store

# Environment overrides.
.env

# Composer dependencies.
/falcon/vendor

# Locally built site.
/falcon/web

# Codeception code base for IDE autocomplete purposes only.
.codecept
