# PHPStorm directory.
.idea

# MacOS Desktop Services Store files.
.DS_Store

# Environment overrides.
/.env

# Composer dependencies.
/vendor

# Locally built site.
/web

# Codeception code base for IDE autocomplete purposes only.
/.codecept
