version: 2

jobs:
  build_and_test:

    machine:
      enabled: true
      image: circleci/classic:201808-01

    steps:
      - checkout

      - run:
          name: Fix CircleCI files permissons
          command: |
            sudo chown ubuntu:ubuntu -R *
            sudo chown ubuntu:ubuntu -R .[!.]*

      - run:
          name: Pull Docker images
          command: make pull

      - run:
          name: Check PHP & Javascript code for compliance with Drupal Coding Standards.
          command: make code:check
          when: always

      - run:
          name: Make local environment
          command: make install
          no_output_timeout: 20m

      - run:
          name: Add Falcon domain host into /etc/hosts
          command: echo 127.0.0.1 falcon.docker.localhost | sudo tee -a /etc/hosts

      - run:
          name: Prepare tests
          command: make tests:prepare

      - run:
          name: Run unit (integration) tests
          command: make tests:run unit

      - run:
          name: Run API tests
          command: make tests:run api

      - store_artifacts:
          path: tests/_output

workflows:
  version: 2

  build_and_test:
    jobs:
      - build_and_test
