version: '3'

services:

  node:
    volumes:
      - ../falconjs:/falconjs:cached
      - ../tests/end-to-end:/tests:cached

  mariadb:
    volumes:
      - ${MYSQL_DATA_DIR}:/var/lib/mysql:cached

  php:
#    environment:
## Read instructions at https://wodby.com/stacks/drupal/docs/local/xdebug/
#      PHP_XDEBUG: 1
#      PHP_XDEBUG_DEFAULT_ENABLE: 1
#      PHP_XDEBUG_REMOTE_CONNECT_BACK: 0
#      PHP_IDE_CONFIG: serverName=my-ide
#      PHP_XDEBUG_REMOTE_HOST: host.docker.internal # Docker 18.03+ & Linux/Mac/Win
#      PHP_XDEBUG_REMOTE_HOST: 172.17.0.1 # Linux, Docker < 18.03
#      PHP_XDEBUG_REMOTE_HOST: 10.254.254.254 # macOS, Docker < 18.03
#      PHP_XDEBUG_REMOTE_HOST: 10.0.75.1 # Windows, Docker < 18.03
    volumes:
      - ../falcon/:/var/www/html:cached
      - ./composer:/home/wodby/.composer:cached

  nginx:
    volumes:
      - ../falcon/:/var/www/html:cached

  codecept:
#    environment:
#      PHP_XDEBUG_DEFAULT_ENABLE: 1
#      PHP_XDEBUG_REMOTE_CONNECT_BACK: 0
#      PHP_XDEBUG_REMOTE_ENABLE: 1
#      PHP_XDEBUG_REMOTE_AUTOSTART: 1
#      PHP_IDE_CONFIG: serverName=my-ide
#      PHP_XDEBUG_IDEKEY: PHPSTORM
#      PHP_XDEBUG_REMOTE_HOST: host.docker.internal # Docker 18.03+ & Linux/Mac/Win
#      PHP_XDEBUG_REMOTE_HOST: 172.17.0.1 # Linux, Docker < 18.03
#      PHP_XDEBUG_REMOTE_HOST: 10.254.254.254 # macOS, Docker < 18.03
#      PHP_XDEBUG_REMOTE_HOST: 10.0.75.1 # Windows, Docker < 18.03
    volumes:
      - ../tests:/project/tests:cached
      - ../tests/codeception.yml:/project/codeception.yml
      - ../:/app:cached

## Uncomment if you want to auto-build the docs locally in docs/_build/html
# Can be accessed as http://localhost:63342/falcon/docs/_build/html/index.html
#  sphinxdocs:
#    image: nickjer/docker-sphinx:latest
#    container_name: "${PROJECT_NAME}_sphinxdocs"
#    command: 'sphinx-autobuild . _build/html'
#    volumes:
#      - ../docs:/doc:cached

## Uncomment if you need pma container.
#  pma:
#    image: phpmyadmin/phpmyadmin
#    container_name: "${PROJECT_NAME}_pma"
#    environment:
#      PMA_HOST: $DB_HOST
#      PMA_USER: $DB_USER
#      PMA_PASSWORD: $DB_PASSWORD
#      PHP_UPLOAD_MAX_FILESIZE: 1G
#      PHP_MAX_INPUT_VARS: 1G
#    labels:
#      - 'traefik.backend=${PROJECT_NAME}_pma'
#      - 'traefik.port=80'
#      - 'traefik.frontend.rule=Host:pma.${PROJECT_BASE_URL}'

  testcafe:
    volumes:
      - ../tests/end-to-end/tests:/tests:ro
      - ../tests/end-to-end/node_modules:/node_modules:ro
      - ../tests/end-to-end/results:/results:cached