/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  .bar {
    background: $systemseed-blue;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
  }

  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $systemseed-blue, 0 0 5px $systemseed-blue;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
}
